.wrapper
  .sidebar-wrapper
    .profile-container
      img.profile(src='assets/images/cheolho_han-profile.jpg' alt='' style='border-radius: 30px; width: 120px;')
      h1.name Cheolho Han
      h3.tagline Full Stack Developer
    .contact-container.container-block
      ul.list-unstyled.contact-list
        li.globe
          i.fa.fa-globe
          | Vancouver, BC, Canada
        li.email
          i.fa.fa-envelope
          a(href='mailto: hancjfg5@gmail.com') hancjfg5@gmail.com
        li.linkedin
          i.fab.fa-linkedin-in
          a(href='https://kr.linkedin.com/in/cheolho-han-8b1a65114' target='_blank') Linkedin
        li.github
          i.fab.fa-github
          a(href='https://github.com/cheolhohan' target='_blank') Github
        li.facebook
          i.fab.fa-facebook-f
          a(href='https://www.facebook.com/profile.php?id=100000887546854' target='_blank') Facebook
    .education-container.container-block
      h2.container-block-title
        span.glyphicon.glyphicon-education
        |  Education
      .item
        h4.degree BSc in Computer Engineering
        h5.meta Hongik University in Korea
        .time 2008 - 2016
    .interests-container.container-block
      h2.container-block-title
        span.glyphicon.glyphicon-heart
        |  Interests
      ul.list-unstyled.interests-list
        li Snowboarding
        li Yoga
    .languages-container.container-block
      h2.container-block-title
        span.glyphicon.glyphicon-comment
        |  Languages
      ul.list-unstyled.interests-list
        li
          | English 
          span.lang-desc (Professional)
        li
          | Korean 
          span.lang-desc (Native)
  .main-wrapper
    section.section.summary-section
      h2.section-title
        span.icon-holder
          i.fa.fa-user
        | Career Profile
      .summary
        p Hello,
        p
          | I am an accomplished software developer with 5 years of experience, implementing application software and web system. And I&apos;m especially interested in developing a part of web development, focusing on transferring data faster and showing it more precisely.
        p
          | I am proficient using general purpose languages, such as C/C++, JAVA, Python, web languages, such as HTML, CSS, JavaScript, jQuery and various frameworks such as AngularJS, Spring, Hibernate. I have 3 years experience on C++ MFC window applications and 2+ years experience on web development based on Java EE. I&apos;m familiar with using version control tools, such as SVN, Git and issue tracking tools, such as Redmine tool.
    section.section.experiences-section
      h2.section-title
        span.icon-holder
          i.fa.fa-briefcase
        | Experiences
      .item
        .meta
          .upper-row
            h3.job-title Full Stack Developer
            .time Sep 2016 - Present
          .company iClinic System Inc., Vancouver, Canada
        .details
          p
            | EMR software, coordinating with the BC Medical Services Plan, Pharmanet, lab results, and document management modules
          p
            | I'm mainly working as a front-end developer based on Angular4 with various NodeJs libraries.
            br
            | 1. Angular, Typescript and CSS
            br
            | 2. Spring Boot and Hibernate frameworks
            br
            | 3. Actionscript and 4D database
          p Link: 
            a(href='https://www.iclinicemr.com/') iClinic System Official Site
      .item
        .meta
          .upper-row
            h3.job-title Web Developer
            .time Mar 2015 - Aug 2015
          .company KDH Data House, Seoul, Korea
        .details
          p
            | Developed web and mobile platforms providing comics so that writers can upload their comics and users can read them. Worked as a freelance programmer.
          p
            | 1. Designed web system based on Java, Spring, AngularJS, jQuery, CSS3
            br
            | 2. Developed image upload module and image parsing module
            br
            | 3. Created web application page using AngularJS framework, modifying their images.
      .item
        .meta
          .upper-row
            h3.job-title Senior Software Developer
            .time June 2013 - Feb 2014
          .company Softbowl, Seoul, Korea
        .details
          p
            | SBGrid is a cross-browser JavaScript table ui library which around 100 companies purchased and use. It include functions like sorting, searching, filtering and etc. Worked as full-time.
          p
            | 1. Developed an web table component based on HTML, JavaScript, jQuery
            br
            | 2. Enabled developers to make web view page more easily with UI components
      .item
        .meta
          .upper-row
            h3.job-title Windows Application Developer
            .time July 2010 - June 2013
          .company Comsquare, Seoul, South Korea
        .details
          p
            | Developed and maintained an enterprise solution, Trust Form, which can create user interface elements in MFC UI components so that users can manupulate their own data. Worked as a substitution of mandatory military service in Korea.
          p
            | 1. Maintained B2B solution program based on C++, ActiveX, MFC Library
            br
            | 2. Parsed data stored in a database into XML or JSON data type, and expressed them to user interface elements, like Table, Chart, etc.
    section.section.experiences-section
      h2.section-title
        span.icon-holder
          i.fa.fa-briefcase
        | Activities
      .item
        .meta
          .upper-row
            h3.job-title Software Engineer Internship
            .time July 2010 - June 2013
          .company Samsung Software Membership, Seoul, South Korea
        .details
          p This is an internship and education program established by Samsung Electronics.
          p
            | 1. Be edcuated about a programming methodology, such as Agile, TDD and XP.
            br
            | 2. Participated in software development project organized by Samsung Electronics R&amp;D Team, designing web system based on Spring, Bootstrap, MySQL, Hibernate and Chart &amp; Table Library based on jQuery.
    section.section.projects-section
      h2.section-title
        span.icon-holder
          i.fa.fa-archive
        | Projects
      .item
        .meta
          .upper-row
            h3.job-title Web Comic Authoring Tools
            .time Mar 2015 - Aug 2015
          .company KDH Data House, Seoul, Korea
        p
          | This is an web site based on Java, Spring, AngularJS, CSS3. The purpose of this project is showing web comic with CSS3 animation effects in this platform.
          br
          br
          | Authors usally draw comics with Photoshop Tools, so the result of their work is mostly PSD file(Photoshop type file). I enabled they to continuously work in web page and apply CSS animation effects(movement, shake, fade and so on) so that it can be shown more animately.
          br
      .item
        .meta
          .upper-row
            h3.job-title Web System for Software Architecture Analysis
            .time Aug 2015 - Dec 2015
          .company Samsung Software Membership, Seoul, Korea
        p
          | This is an web site based on Java, Spring Framework, jQuery, WebIX Library, CSS. This project is for analyzing a complexity of source code of software and showing with tree and chart components so that developers can recognize the point which is needed to be improved. Regarding analyzing source code of software, it use the clockwork software(http://www.klocwork.com) and in order to view them in web pages, it use open source library webix(http://webix.com).
          br
          br
          | 1. Designed an web system based on Java, Spring, MySQL, Hibernate and WebIX jQuery component library.
          br
          | 2. Implemented an upload module which can cover 2 GB and parser module storing uploaded data to a database.
          br
          | 3. Created upload and view pages with WebIX components(treem, table and chart)
      .item
        .meta
          .upper-row
            h3.job-title Web System for Managing Applicants
            .time Aug 2014 - Mar 2016
          .company Samsung Software Membership, Seoul, Korea
        p
          | This project is for evaluating and selecting applicants of Samsung Software Membership. It consist of 3 parts which are receiving thousands of applicants data, evaluating applicants and showing evaluated results.
          br
          br
          | 1. Designed an web system based on Java, Spring, MySQL and iBatis.
          br
          | 2. Created jsp pages, which are managing applicants and evaluator, evaluating applicants, showing results.
          br
          | 3. Improved sql query time (about 1.5s -&gt; 0.2s) implemented by MySQL and iBatis.
          br
          | * For Samsung Electronic&apos;s security policies, samples cannot be opened.
      .item
        .meta
          .upper-row
            h3.job-title SBGrid
            .time June 2013 - Feb 2014
          .company Softbowl, Seoul, Korea
        p
          | SBGrid is a cross-browser JavaScript table ui library which around 100 companies purchased and use. It include functions like sorting, searching, filtering and etc.
        h5(style='text-align:center;')
          a(href='http://www.sbgrid.co.kr/index?prod=sbgrid' target='_blank') Demo Page: SBGrid
        p
          br
          | 1. Developed an web table component based on HTML, JavaScript, jQuery
          br
          | 2. Parsed JSON type data from the database and mapped them this Components
          br
    section.skills-section.section
      h2.section-title
        span.icon-holder
          i.fa.fa-rocket
        | Skills &amp; Proficiency
      .skillset
        .item
          h3.level-title C &amp; C++ &amp; MFC
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 99%')
        .item
          h3.level-title Java &amp; Spring Framework &amp; Hibernate
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 99%')
        .item
          h3.level-title Javascript &amp; jQuery
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 99%')
        .item
          h3.level-title Angular &amp; Angular JS
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 99%')
        .item
          h3.level-title HTML5 &amp; CSS &amp; Bootstrap
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 99%')
        .item
          h3.level-title MySQL
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 80%')
        .item
          h3.level-title Python
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 80%')
        .item
          h3.level-title Node JS
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 50%')
        .item
          h3.level-title Mongo DB
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 50%')
        .item
          h3.level-title Photoshop
          .progress.level-bar
            .progress-bar.theme-progress-bar(style='width: 30%')
    section.section.experiences-section
      h2.section-title
        span.icon-holder
          i.fa.fa-heart
        | Volunteer
      .item
        .meta
          .upper-row
            h3.job-title Disaster and Humanitarian Relief
            .time March 2010 &ndash; February 2011
          .company Siloam Community Relief Center, Seoul, South Korea
        .details
          p
            | The Siloam Community Relief Center in Korea is an organization for a person who is visually handicapped. I volunteered to record books with my voice in order for them to be able to listen that books instead of reading it.
footer.footer
  .text-center
    small.copyright
      | Designed with 
      i.fa.fa-heart
      |  by 
      a(href='https://themes.3rdwavemedia.com' target='_blank') Xiaoying Riley
      |  for developers
